.form_container {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 20px;

  border-radius: 10px;
  background-color: #f5f0e6;

  font-size: 22px;
  font-weight: bold;
}

.input_container {
  width: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 25px;
  width: 35%;

  padding: 10px;

  border: none;
  border-radius: 10px;
}

label {
  font-size: 16px;
  font-weight: 700;
}

.form_container > button {
  background-color: #cf8881;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  height: 40px;
  width: 140px;
}

.form_container > button:hover {
  cursor: pointer;

  width: calc(15%);
}
